/* colors:
highlight-orange: #f75f0b
dark-blue: #232a41
*/

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body { 
  font-family: Mark Pro, Helvetica, sans-serif;
  font-size: 12px;
  margin: 0 0 0 0;
  padding-top: 200px;
}

a {
  color: #000;
  text-decoration: none; /* no underline */
}

p {
  font-size: 12px;
  line-height: 18px;
  font-weight: 200;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  color: #232a41; 
}

h1 {
  color: #232a41;
}

h2 {
  color: #232a41;
}

/* ---- topbar ---- */

.topbar {
  width: 1156px;
  height: 180px;
  margin: 0 auto 0 auto;
  background-color: #fff;
  position: fixed;
  z-index: 999;
  -webkit-transition: 0.5s;
}

.topbarScrolledDown {
  height: 60px;
}

/* ---- main Navigation ---- */

.pageNav {
  width: 100%;
  height: 100px;
  background-color: #fff;
  -webkit-transition: 0.5s;
  position: relative;
  /*opacity: 1;*/
}



.pageNavScrolledDown {
  height: 50px;
  /*opacity: 0;*/
  /*display: none;*/
}

.pageTitle {
  margin: 0 auto 0 0;
  text-align: left;
  position: absolute;
  top: 41px;
  font-size: 24px;
  font-weight: 500;
  color: #232a41;
  -webkit-transition: 0.5s;
}

.pageTitleScrolledDown {
  top: 12px;
  font-size: 20px;
}

.topbarIconSpace {
  float: right;
  width: 128px;
  height: 36px;
  margin: 32px 0 32px 0;
  -webkit-transition: 0.5s;
}

.topbarIconSpaceScrolledDown {
  margin: 7px 0 7px 0;
}

.topbarIcon {
  width: 36px;
  height: 36px;
  float: left;
  opacity: 0.5;
  -webkit-transition: 0.1s;
}

.topbarIcon.scrolled-down { 
  display: none;
}

.topbarIcon:hover {
  opacity: 1.0;
}

#search {
  background-image: url(../images/icons/topbarSearch.svg);
}
#sell {
  margin: 0 10px 0 10px;
  background-image: url(../images/icons/topbarSell.svg);
}
#user {
  background-image: url(../images/icons/topbarUser.svg);
}

/* ---- sub Navigation ---- */

.subNav {
  width: 100%;
  height: 60px;
  position: relative;
  background-color: #fff;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #d3d4d9;
}

.navBullet {
  top: 18px;
  margin-left: 20px;
  position: relative;
  text-decoration: none;
  opacity: 0.5;
  color: #232a41;
  -webkit-transition: all 0.25s ease-in-out 0s;
  font-size: 16px;
}

.navBullet:hover {
  opacity: 1.0;
}

.navBullet:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -4px;
  left: 0;
  background-color: #f75f0b;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -webkit-transition: all 0.25s ease-in-out 0s;
}

.navBullet:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
}

.navBulletActive {
  opacity: 1.0;
}

.navBulletInactive {
  opacity: 0.5;
}

.navBulletFirst {
  margin-left: 0px;
}

/* ---- make topbar responsive ---- */

@media (min-width: 372px) {
  .content { width: 372px;}
}
@media (min-width: 568px) {
  .content { width: 568px;}
}
@media (min-width: 764px) {
  .content { width: 764px;}
}
@media (min-width: 960px) {
  .content { width: 960px;}
}
@media (min-width: 1157px) {
  .content { width: 1156px;}
}

.content {
  /*width: auto;*/
  max-width: 1156px;
  position: relative;
  margin: 0 auto;
}

.title {
  width: 100%;
  margin-bottom: 50px;
}

/* ---- content below Slider ---- */

.detailContent {
  margin: 0 auto 0 auto;
  padding-top: 40px;
  position: relative;
}

.description {
  height: 240px;
  position: relative;
  margin-bottom: 40px;
}

.descriptionLeft {
  float: left;
  height: 100%;
  width: 48%;
  opacity: 0.8;  
}

.descriptionRight {
  float: right;
  height: 100%;
  width: 48%;
  opacity: 0.8;
}

.facts {
  width: 100%;
  height: 60px;
  position: relative;
  margin-bottom: 40px;
}

.factsColumn {
  height: 100%;
  position: relative;
  display: inline;
}

.factsColumn:after {
  content:””;
  display:table;
  clear:both;
}

#factsColumn1 {
  width: 32%;
  float: left;
}

#factsColumn2 {
  width: 32%;
  float: left;
  margin-left: 2%;
}

#factsColumn3 {
  width: 32%;
  float: left;
  margin-left: 2%;
}

.factLabel {
  height: 100%;
  width: 80px;
  position: relative;
  float: left;  
}

.factLabelText {
  line-height: 20px;
  font-weight: 200;
  color: #232a41;
  opacity: 0.8;
}

.factContent {
  height: 100%;
  width: 165px;
  position: relative;
  float: left;
}

.factContentText {
  line-height: 20px;
  font-weight: 500;
  color: #232a41;
}

.starSpace {
  width: 208px;
  height: 32px;
  margin: auto;
}

.star {
  width: 32px;
  height: 32px;
  margin-left: 12px;
  float: left;
}

.firstStar {
  margin-left: 0px;
}

#activeStar {
  background-image: url(../images/icons/activeStar.svg);
}

#inactiveStar {
  background-image: url(../images/icons/inactiveStar.svg);
  opacity: 0.4;
}


.sellColumn {
  height: 100%;
  position: relative;
  display: inline;
}

.sellColumn:after {
  content:””;
  display:table;
  clear:both;
}

#sellColumn1 {
  width: 32%;
  float: left;
}

#sellColumn2 {
  width: 32%;
  float: left;
  margin-left: 2%;
}

#sellColumn3 {
  width: 32%;
  float: left;
  margin-left: 2%;
}

.sellLabel {
  height: 100%;
  width: 80px;
  position: relative;
  float: left;  
}

.sellLabelText {
  line-height: 20px;
  font-weight: 200;
  color: #232a41;
  opacity: 0.8;
}

.sellContent {
  height: 100%;
  width: 165px;
  position: relative;
  float: left;
}

.sellContentText {
  line-height: 20px;
  font-weight: 500;
  color: #232a41;
}

.ratingLabel {
  text-align: center;
  margin-top: 9px;
  font-weight: 500;
}

/* ---- subBar for Book ---- */

.subBar {
  width: 100%;
  height: 60px;
  position: relative;
  text-align: center;
  margin-bottom: 40px;
}

.bookTitle {
  font-size: 24px;
  font-weight: 600;
  -webkit-margin-after: 13px;
  -webkit-margin-before: 0px;
}

.authorTitle {
  font-size: 14px;
  font-weight: 600;
  opacity: 0.6;
}

.favoriteIcon {
  width: 60px;
  height: 60px;
  float: left;
  background-image: url(../images/icons/favoriteIcon.png);
  display: inline;
  opacity: 0.5;
  -webkit-transition: 0.1s;
}

.favoriteIcon:hover {
  opacity: 1.0;
}

.buyIcon {
  width: 60px;
  height: 60px;
  float: right;
  background-image: url(../images/icons/buyIconDetail.png);
  display: inline;
  opacity: 0.5;
  -webkit-transition: 0.1s;
}

.buyIcon:hover {
  opacity: 1.0;
}

.subBarTitle {
  float: left;
  height: 60px;
  width: 84%;
  margin: 0 auto;
}

.subBarTitle:after {
  content:””;
  display:table;
  clear:both;
}

/* ---- make stuff responsive ---- */

@media (min-width: 372px) {
  .topbar { width: 372px;}
  .content { width: 372px;}
}
@media (min-width: 568px) {
  .topbar { width: 568px;}
  .content { width: 568px;}
}
@media (min-width: 764px) {
  .topbar { width: 764px;}
  .content { width: 764px;}
}
@media (min-width: 960px) {
  .topbar { width: 960px;}
  .content { width: 960px;}
  .detailContent { width: 766px;}
}
@media (min-width: 1157px) {
  .topbar { width: 1156px;}
  .content { width: 1156px;}
  .detailContent { width: 766px;}
}

.content {
  /*width: auto;*/
  max-width: 1156px;
  position: relative;
  margin: 0 auto;
}

.title {
  width: 100%;
  margin-bottom: 50px;
}

/* ---- grid ---- */

.grid {
  position: relative;
  margin: 0 auto 0 auto;
  top: 220px;
  -webkit-transition: 0.5s;
}

.gridScrolledDown {
  top: 100px;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

/* ---- slider ---- */

#container{
  margin:0 auto;
  width: 100%;
  position: relative;
}

#banner-fade,
#banner-slide{
  height: 470px;
  max-width: 1156px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

ul.bjqs-controls.v-centered li a{
  display:block;
  color:#000;
  text-decoration: none;
}

ul.bjqs-controls.v-centered li a:hover{
}

ol.bjqs-markers li a{
  padding:5px 10px;
  background:#000;
  color:#fff;
  margin:5px;
  text-decoration: none;
}

ol.bjqs-markers li.active-marker a,
ol.bjqs-markers li a:hover{
  background: #999;
}

p.bjqs-caption{
  background: rgba(255,255,255,0.5);
}

.previousButton {
  background-image: url(../images/icons/slideButtonLeft.svg);
  width: 20px;
  height: 38px;
  opacity: 0.5;
  -webkit-transition: 0.1s;
}

.previousButton:hover {
  opacity: 1.0;
}

.nextButton {
  background-image: url(../images/icons/slideButtonRight.svg);
  width: 20px;
  height: 38px;
  opacity: 0.5;
  -webkit-transition: 0.1s;
}

.nextButton:hover {
  opacity: 1.0;
}

.sellerDetails {
  width: 100%;
  position: relative;
}

.sellerCell {
  width: 100%;
  position: relative;
  height: 60px;
  padding-top: 10px;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #d3d4d9;
}

.sellerCellLastChild {
  border-bottom-style: none;
}


.buyButton {
  width: 135px;
  height: 36px;
  position: relative;
  border-radius: 4px;
  border: 2px solid #f75f0b;
  -webkit-transition: 0.1s;
  text-align: center;
  float: right;
  margin-top: 2px;
}

.buyButton:hover {
  background-color: #f75f0b;
}

.buyButton:hover > .priceTag {
  color: #fff;
}

.buyButton:active {
  border: 2px solid #de4f02;
  background-color: #de4f02;
}

.priceTag {
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.05em;
  margin-top: 6px;
  -webkit-transition: 0.1s;
}

@media (max-width: 960px) {
  .facts {
    height: 140px;
  }
  .factsColumn {
    height: 50%;
  }
  #factsColumn1 {
    width: 49%;
  }
  #factsColumn2 {
    width: 49%;
  }
  #factsColumn3 {
    width: 100%;
    float: none;
  }
  .sellContent {
    width: 160px;
  }
}

@media (max-width: 764px) {
  .pageNav {
    padding-left: 20px;
    padding-right: 20px;
  }
  .subNav {
    padding-left: 20px;
    padding-right: 20px;
  }
  .subBarTitle {
    width: 78%;
  }
  .description {
    height: 320px;
  }
  .sellContent {
    width: 100px;
  }
}

@media (max-width: 568px) {
  .subBarTitle {
    width: 67%;
  }
  .description {
    height: 480px;
  }
  .descriptionLeft {
    height: 50%;
    width: 100%;
    float: none;
  }
  .descriptionRight {
    height: 50%;
    width: 100%;
    float: none;
  }
  .facts {
    height: 200px;
  }
  #factsColumn1 {
    width: 100%;
    height: 33%;
    display: block;
    float: none;
  }
  #factsColumn2 {
    width: 100%;
    height: 33%;
    display: block;
    float: none;
    margin-left: 0;
  }
  #factsColumn3 {
    width: 100%;
    height: 33%;
    display: block;
    float: none;
    margin-left: 0;
  }
  .factContent {
    margin-left: 15px;
  }
  .sellerCell {
    height: 120px;
  }
  #sellColumn1 {
    width: 50%;
    height: 50%;
  }
  #sellColumn2 {
    width: 50%;
    height: 50%;
    margin-left: 0;
  }
  #sellColumn3 {
    width: 100%;
    height: 50%;
    display: block;
    float: left;
    margin-left: 0;
  }
  .buyButton {
    margin: auto;
    float: none;
  }
}

.bottomSpace {
  height: 100px;
}