* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body { 
  font-family: Mark Pro, Helvetica, sans-serif;
  font-size: 12px;
  margin: 0 0 0 0;
  padding-top: 200px;
}

a {
  color: #000;
  text-decoration: none; /* no underline */
}

p {
  font-size: 12px;
  line-height: 18px;
  font-weight: 200;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  color: #232a41; 
}

h1 {
  color: #232a41;
}

h2 {
  color: #232a41;
}

/* ---- topbar ---- */

.topbar {
  width: 1156px;
  height: 180px;
  margin: 0 auto 0 auto;
  background-color: #fff;
  position: fixed;
  z-index: 999;
  -webkit-transition: 0.5s;
}

.topbarScrolledDown {
  height: 60px;
}

/* ---- main Navigation ---- */

.pageNav {
  width: 100%;
  height: 100px;
  background-color: #fff;
  -webkit-transition: 0.5s;
  position: relative;
  /*opacity: 1;*/
}

@media (max-width: 764px) {
  .pageNav {
    padding-left: 20px;
    padding-right: 20px;
  }
  .subNav {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.pageNavScrolledDown {
  height: 50px;
  /*opacity: 0;*/
  /*display: none;*/
}

.pageTitle {
  margin: 0 auto 0 0;
  position: relative;
  top: 41px;
  float: left;
  font-size: 24px;
  font-weight: 500;
  color: #232a41;
  -webkit-transition: 0.5s;
}

.pageTitleScrolledDown {
  top: 12px;
  font-size: 20px;
}

.topbarIconSpace {
  float: right;
  width: 128px;
  height: 36px;
  margin: 32px 0 32px 0;
  -webkit-transition: 0.5s;
}

.topbarIconSpaceScrolledDown {
  margin: 7px 0 7px 0;
}

.topbarIcon {
  width: 36px;
  height: 36px;
  float: left;
  opacity: 0.5;
  -webkit-transition: 0.1s;
}

.topbarIcon.scrolled-down { 
  display: none;
}

.topbarIcon:hover {
  opacity: 1.0;
}

#search {
  background-image: url(../images/icons/topbarSearch.svg);
}
#sell {
  margin: 0 10px 0 10px;
  background-image: url(../images/icons/topbarSell.svg);
}
#user {
  background-image: url(../images/icons/topbarUser.svg);
}

/* ---- sub Navigation ---- */

.subNav {
  width: 100%;
  height: 60px;
  position: relative;
  background-color: #fff;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #d3d4d9;
}

.navBullet {
  top: 18px;
  margin-left: 20px;
  position: relative;
  text-decoration: none;
  opacity: 0.5;
  color: #232a41;
  -webkit-transition: all 0.25s ease-in-out 0s;
  font-size: 16px;
}

.navBullet:hover {
  opacity: 1.0;
}

.navBullet:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -4px;
  left: 0;
  background-color: #c89969;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -webkit-transition: all 0.25s ease-in-out 0s;
}

.navBullet:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
}

.navBulletActive {
  opacity: 1.0;
}

.navBulletInactive {
  opacity: 0.5;
}

.navBulletFirst {
  margin-left: 0px;
}

/* ---- make topbar responsive ---- */

@media (min-width: 372px) {
  .content { width: 372px;}
}
@media (min-width: 568px) {
  .content { width: 568px;}
}
@media (min-width: 764px) {
  .content { width: 764px;}
}
@media (min-width: 960px) {
  .content { width: 960px;}
  .recommendContent { width: 766px;}
}
@media (min-width: 1157px) {
  .content { width: 1156px;}
  .recommendContent { width: 766px;}
}

.content {
  /*width: auto;*/
  max-width: 1156px;
  position: relative;
  margin: 0 auto;
}

.title {
  width: 100%;
  margin-bottom: 50px;
}

/* ---- sections ---- */

.section {
  position: relative;
  padding-bottom: 50px;
}

.sectionTitle {
  position: relative;
  text-align: center;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 500;
  color: #f75f0b;
  letter-spacing: 0.5px;
}

#bestsellerSection {

}

#bestsellerSectionTitle {

}

/* ---- grid ---- */

.grid {
  position: relative;
  margin: 0 auto 0 auto;
  /*top: 220px;*/
  -webkit-transition: 0.5s;
}

.gridScrolledDown {
  /*top: 100px;*/
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  width: 176px;
  height: 220px;
  float: left;
  /*border: 2px solid #333;*/
  border-color: rgb(50, 50, 50);
  margin-bottom: 19px;
}

.grid-item--genre { 
  height: 176px;
  background-color: #232a41;
}

/*.genre:hover > .genreText {
  text-decoration: underline;
}*/


.grid-item--book:hover {
  background-color: #232a41;
}

.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 320px; }

.grid-item--width2 { width: 372px;}

.genre {
  margin: 10px 10px 16px 10px;
  width: 156px;
  height: 150px;
  text-align: center;
  position: absolute;
}

.genreIcon {
  width: 110px;
  height: 110px;
  float: left;
  margin: 15px 23px 0px 23px;
}

.genreText {
  display: inline-block;
  margin-top: 9px;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}

.book {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.grid-item--genre:hover > .genreBackgroundImage {
  opacity: 0.4;
}

.genreBackgroundImage {
  width: 100%;
  height: 100%;
  float: left;
  opacity: 0.1;
  -webkit-transition: 0.25s;
}

/* ---- genre BGs ---- */

#genreBgScience {
  background-image: url(../images/genreImages/01Science.jpg);
  background-size: 176px 176px;
  background-repeat: no-repeat;
}
#genreBgLaw {
  background-image: url(../images/genreImages/02Law.jpg);
  background-size: 176px 176px;
  background-repeat: no-repeat;
}
#genreBgEconomics {
  background-image: url(../images/genreImages/03Economics.jpg);
  background-size: 176px 176px;
  background-repeat: no-repeat;
}
#genreBgHumanities {
  background-image: url(../images/genreImages/04Humanities.jpg);
  background-size: 176px 176px;
  background-repeat: no-repeat;
}
#genreBgArtDesign {
  background-image: url(../images/genreImages/05ArtDesign.jpg);
  background-size: 176px 176px;
  background-repeat: no-repeat;
}
#genreBgMusic {
  background-image: url(../images/genreImages/06Music.jpg);
  background-size: 176px 176px;
  background-repeat: no-repeat;
}
#genreBgHobby {
  background-image: url(../images/genreImages/07Hobby.jpg);
  background-size: 176px 176px;
  background-repeat: no-repeat;
}
#genreBgSports {
  background-image: url(../images/genreImages/08Sports.jpg);
  background-size: 176px 176px;
  background-repeat: no-repeat;
}
#genreBgCooking {
  background-image: url(../images/genreImages/09Cooking.jpg);
  background-size: 176px 176px;
  background-repeat: no-repeat;
}
#genreBgPolitics {
  background-image: url(../images/genreImages/10Politics.jpg);
  background-size: 176px 176px;
  background-repeat: no-repeat;
}
#genreBgTechnology {
  background-image: url(../images/genreImages/11Technology.jpg);
  background-size: 176px 176px;
  background-repeat: no-repeat;
}
#genreBgLanguages {
  background-image: url(../images/genreImages/12Languages.jpg);
  background-size: 176px 176px;
  background-repeat: no-repeat;
}
#genreBgNovels {
  background-image: url(../images/genreImages/13Novels.jpg);
  background-size: 176px 176px;
  background-repeat: no-repeat;
}
#genreBgDrama {
  background-image: url(../images/genreImages/14Drama.jpg);
  background-size: 176px 176px;
  background-repeat: no-repeat;
}
#genreBgThrillers {
  background-image: url(../images/genreImages/15Thrillers.jpg);
  background-size: 176px 176px;
  background-repeat: no-repeat;
}
#genreBgCrime {
  background-image: url(../images/genreImages/16Crime.jpg);
  background-size: 176px 176px;
  background-repeat: no-repeat;
}
#genreBgSciFi {
  background-image: url(../images/genreImages/17SciFi.jpg);
  background-size: 176px 176px;
  background-repeat: no-repeat;
}
#genreBgHumor {
  background-image: url(../images/genreImages/18Humor.jpg);
  background-size: 176px 176px;
  background-repeat: no-repeat;
}
#genreBgRomance {
  background-image: url(../images/genreImages/19Romance.jpg);
  background-size: 176px 176px;
  background-repeat: no-repeat;
}
#genreBgOthers {
  background-image: url(../images/genreImages/20Others.jpg);
  background-size: 176px 176px;
  background-repeat: no-repeat;
}

/* ---- genre icons ---- */

#genreIconScience {
  background-image: url(../images/genreIcons/01science.svg);
  background-repeat: no-repeat;
  background-position: center;
}
#genreIconLaw {
  background-image: url(../images/genreIcons/02law.svg);
  background-repeat: no-repeat;
  background-position: center;
}
#genreIconEconomics {
  background-image: url(../images/genreIcons/03economics.svg);
  background-repeat: no-repeat;
  background-position: center;
}
#genreIconHumanities {
  background-image: url(../images/genreIcons/04humanities.svg);
  background-repeat: no-repeat;
  background-position: center;
}
#genreIconArtDesign {
  background-image: url(../images/genreIcons/05artDesign.svg);
  background-repeat: no-repeat;
  background-position: center;
}
#genreIconMusic {
  background-image: url(../images/genreIcons/06music.svg);
  background-repeat: no-repeat;
  background-position: center;
}
#genreIconSports {
  background-image: url(../images/genreIcons/08sports.svg);
  background-repeat: no-repeat;
  background-position: center;
}
#genreIconCooking {
  background-image: url(../images/genreIcons/09cooking.svg);
  background-repeat: no-repeat;
  background-position: center;
}
#genreIconPolitics {
  background-image: url(../images/genreIcons/10politics.svg);
  background-repeat: no-repeat;
  background-position: center;
}
#genreIconTechnology {
  background-image: url(../images/genreIcons/11technology.svg);
  background-repeat: no-repeat;
  background-position: center;
}
#genreIconLanguages {
  background-image: url(../images/genreIcons/12languages.svg);
  background-repeat: no-repeat;
  background-position: center;
}
#genreIconNovels {
  background-image: url(../images/genreIcons/13novels.svg);
  background-repeat: no-repeat;
  background-position: center;
}
#genreIconDrama {
  background-image: url(../images/genreIcons/14drama.svg);
  background-repeat: no-repeat;
  background-position: center;
}
#genreIconThrillers {
  background-image: url(../images/genreIcons/15thrillers.svg);
  background-repeat: no-repeat;
  background-position: center;
}
#genreIconCrime {
  background-image: url(../images/genreIcons/16crime.svg);
  background-repeat: no-repeat;
  background-position: center;
}
#genreIconSciFi {
  background-image: url(../images/genreIcons/17sciFi.svg);
  background-repeat: no-repeat;
  background-position: center;
}
#genreIconHumor {
  background-image: url(../images/genreIcons/18humor.svg);
  background-repeat: no-repeat;
  background-position: center;
}
#genreIconRomance {
  background-image: url(../images/genreIcons/19romance.svg);
  background-repeat: no-repeat;
  background-position: center;
}
#genreIconOthers {
  background-image: url(../images/genreIcons/20others.svg);
  background-repeat: no-repeat;
  background-position: center;
}

#book1 {height: 222px;}
#book1:hover > #bookCover1 {opacity: 0.2;}
#book1:hover > #bookTitle {visibility: visible;}
#book1:hover > #bookSubtitle {visibility: visible;}
#book1:hover > .bookLookIcon {visibility: visible;}
#book1:hover > .bookBuyIcon {visibility: visible;}
#bookCover1 {background-image: url(../images/bookCovers/bookCover1.jpg);}

#book2 {height: 247px;}
#book2:hover > #bookCover2 {opacity: 0.2;}
#book2:hover > #bookTitle {visibility: visible;}
#book2:hover > #bookSubtitle {visibility: visible;}
#book2:hover > .bookLookIcon {visibility: visible;}
#book2:hover > .bookBuyIcon {visibility: visible;}
#bookCover2 {background-image: url(../images/bookCovers/bookCover2.jpg);}

#book3 {height: 297px;}
#book3:hover > #bookCover3 {opacity: 0.2;}
#book3:hover > #bookTitle {visibility: visible;}
#book3:hover > #bookSubtitle {visibility: visible;}
#book3:hover > .bookLookIcon {visibility: visible;}
#book3:hover > .bookBuyIcon {visibility: visible;}
#bookCover3 {background-image: url(../images/bookCovers/bookCover3.jpg);}

#book4 {height: 265px;}
#book4:hover > #bookCover4 {opacity: 0.2;}
#book4:hover > #bookTitle {visibility: visible;}
#book4:hover > #bookSubtitle {visibility: visible;}
#book4:hover > .bookLookIcon {visibility: visible;}
#book4:hover > .bookBuyIcon {visibility: visible;}
#bookCover4 {background-image: url(../images/bookCovers/bookCover4.jpg);}

#book5 {height: 270px;}
#book5:hover > #bookCover5 {opacity: 0.2;}
#book5:hover > #bookTitle {visibility: visible;}
#book5:hover > #bookSubtitle {visibility: visible;}
#book5:hover > .bookLookIcon {visibility: visible;}
#book5:hover > .bookBuyIcon {visibility: visible;}
#bookCover5 {background-image: url(../images/bookCovers/bookCover5.jpg);}

#book6 {height: 270px;}
#book6:hover > #bookCover6 {opacity: 0.2;}
#book6:hover > #bookTitle {visibility: visible;}
#book6:hover > #bookSubtitle {visibility: visible;}
#book6:hover > .bookLookIcon {visibility: visible;}
#book6:hover > .bookBuyIcon {visibility: visible;}
#bookCover6 {background-image: url(../images/bookCovers/bookCover6.jpg);}

#book7 {height: 293px;}
#book7:hover > #bookCover7 {opacity: 0.2;}
#book7:hover > #bookTitle {visibility: visible;}
#book7:hover > #bookSubtitle {visibility: visible;}
#book7:hover > .bookLookIcon {visibility: visible;}
#book7:hover > .bookBuyIcon {visibility: visible;}
#bookCover7 {background-image: url(../images/bookCovers/bookCover7.jpg);}

#book8 {height: 250px;}
#book8:hover > #bookCover8 {opacity: 0.2;}
#book8:hover > #bookTitle {visibility: visible;}
#book8:hover > #bookSubtitle {visibility: visible;}
#book8:hover > .bookLookIcon {visibility: visible;}
#book8:hover > .bookBuyIcon {visibility: visible;}
#bookCover8 {background-image: url(../images/bookCovers/bookCover8.jpg);}

#book9 {height: 263px;}
#book9:hover > #bookCover9 {opacity: 0.2;}
#book9:hover > #bookTitle {visibility: visible;}
#book9:hover > #bookSubtitle {visibility: visible;}
#book9:hover > .bookLookIcon {visibility: visible;}
#book9:hover > .bookBuyIcon {visibility: visible;}
#bookCover9 {background-image: url(../images/bookCovers/bookCover9.jpg);}

#book10 {height: 272px;}
#book10:hover > #bookCover10 {opacity: 0.2;}
#book10:hover > #bookTitle {visibility: visible;}
#book10:hover > #bookSubtitle {visibility: visible;}
#book10:hover > .bookLookIcon {visibility: visible;}
#book10:hover > .bookBuyIcon {visibility: visible;}
#bookCover10 {background-image: url(../images/bookCovers/bookCover10.jpg);}


#bookTitle {
  position: absolute;
  top: 30%;
  width: 176px;
  text-align: center;
  font-size: 10pt;
  font-weight: 500;
  color: #fff;
  visibility: hidden;
}

#bookSubtitle {
  position: absolute;
  top: 30%;
  width: 176px;
  margin-top: 22px;
  text-align: center;
  font-size: 9pt;
  font-weight: 200;
  color: #fff;
  visibility: hidden;
}

.bookLookIcon {
  position: absolute;
  top: 100%;
  margin-top: -56px;
  margin-left: 37px;
  width: 36px;
  height: 36px;
  background-image: url('../images/icons/lookIcon.png');
  visibility: hidden;
  opacity: 0.5;
}

.bookLookIcon:hover {
  opacity: 1.0;
}

.bookBuyIcon {
  position: absolute;
  top: 100%;
  margin-top: -56px;
  margin-left: 103px;
  width: 36px;
  height: 36px;
  background-image: url('../images/icons/buyIcon.png');
  visibility: hidden;
  opacity: 0.5;
}

.bookBuyIcon:hover {
  opacity: 1.0
}

/* ---- recommendations ---- */

.rec1Column {width: 176px;}
.rec2Column {width: 372px;}
.rec3Column {width: 568px;}
.rec4Column {width: 764px;}
.rec5Column {width: 960px;}
.rec6Column {width: 1156px;}

#recTop20PsyBooks {
  height: 400px;
  background-image: url(../images/recImages/recTop20PsyBooks.png);
}

#recBeatGeneration {
  height: 400px;
  background-color: #232a41;
}

#recQuote1 {
  height: 176px;
  background-color: #232a41;
}

#recQuote2 {
  height: 176px;
  background-color: #f75f0b;
}

#recOnTheRoad {
  height: 283px;
  background-image: url(../images/recImages/recOnTheRoad.png);
}

#recYouTubeReview {
  height: 398px;
}

#recNoirFiction {
  height: 347px;
  background-color: #232a41;
}

#recJunkyBook {
  height: 287px;
  background-image: url(../images/recImages/recJunkyBook.png);
}

#recTheKillerBook {
  height: 274px;
  background-image: url(../images/recImages/recTheKillerBook.png);
}

#recQuote3 {
  height: 176px;
  background-color: #f75f0b;
}

.blogPostTitle {
  text-align: center;
  top: 50%;
  margin-top: -33px;
  position: relative;
  vertical-align: middle;
  color: #fff;
  opacity: 0.75;
  -webkit-transition: 0.1s;
}

#recTop20PsyBooks:hover > .blogPostTitle {
  opacity: 1.0;
}

/*
.blogPostTitle:before {
  content: "";
  position: absolute;
  left: 253px;
  width: 260px;
  height: 4px;
  bottom: 0px;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -webkit-transition: all 0.25s ease-in-out 0s;
}
#recTop20PsyBooks:hover > .blogPostTitle:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
}*/
/*
.blogPostTitle:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
}*/

.recTextPost {
  color: #fff;
  margin-left: 14px;
  margin-right: 14px;
}

.recQuotePost {
  color: #fff;
  margin-left: 14px;
  margin-top: 11px;
  margin-right: 14px;
}

.recTextPostTitle {
  color: #fff;
  margin-top: 11px;
  margin-left: 14px;
}

/* ---- recommendations detail ---- */

.recommendDetailTitle {
  text-align: center;
  font-weight: 700;
}

.recommendContent {
  margin: 0 auto 0 auto;
  padding-top: 40px;
  position: relative;
}

.recGridItem {
  width: 372px;
  margin-bottom: 0px;
}

.recGridIntroImage {
  height: 660px;
  background-image: url(../images/recDetailImages/recIntroImage.png);
}

.recGridSpacingItem {
  margin-bottom: 0px;
}

#recGridSpacingItem1 {
  height: 200px;
  width: 372px;
}

#recGridSpacingItem2 {
  height: 76px;
  width: 764px;
}

#recGridSpacingItem3 {
  height: 626px;
  width: 176px;
}

#recGridSpacingItem4 {
  height: 90px;
  width: 176px;
}

#recGridSpacingItem5 {
  height: 160px;
  width: 372px;
}
#recGridSpacingItem6 {
  height: 80px;
  width: 372px;
}

#recGridSpacingItem7 {
  height: 80px;
  width: 176px;
}

#recGridSpacingItem8 {
  height: 0px;
  width: 0px;
}

#recGridSpacingItem9 {
  height: 0px;
  width: 0px;
}

#recGridSpacingItem10 {
  height: 0px;
  width: 0px;
}

.recGridIntroText {
  height: 520px;
}

.recGridBookTitle1Line {
  width: 372px;
  height: 90px;
}

.recGridBookRankText {
  margin-top: 0px;
  -webkit-margin-before: 0px;
  line-height: 0.7;
  font-size: 42px;
}

.recGridSeperatingLine {
  width: 196px;
  height: 1px;
  background-color: #232a41;
  top: 1px;
  position: relative;
}

.recGridBookTitleText {
  font-size: 24px;
  margin-top: 7px;
  margin-bottom: 0px;
}

.recGridBookAuthorText {
  font-size: 14px;
  margin-top: 1px;
  margin-bottom: 0px;
}

.recGridBookDesc {
  width: 176px;
  height: 300px;
}

.recGridBookItem {
  width: 176px;
  margin-top: 5px;
}

#recBook1 {
  width: 372px;
  height: 626px;
  margin-top: 0px;
  background-image: url(../images/recDetailImages/recRank1.png);
}

#recBook2 {
  height: 257px;
  background-image: url(../images/recDetailImages/recRank2.png);
}

#recBook3 {
  height: 281px;
  background-image: url(../images/recDetailImages/recRank3.png);
}

#recBook4 {
  height: 269px;
  background-image: url(../images/recDetailImages/recRank4.png);
}

#recBook5 {
  height: 273px;
  background-image: url(../images/recDetailImages/recRank5.png);
}

#recBook6 {
  height: 220px;
  background-image: url(../images/recDetailImages/recRank6.png);
}

#recBook7 {
  height: 264px;
  background-image: url(../images/recDetailImages/recRank7.png);
}

#recBook8 {
  height: 323px;
  background-image: url(../images/recDetailImages/recRank8.png);
}

#recBook9 {
  height: 271px;
  background-image: url(../images/recDetailImages/recRank9.png);
}

#recBook10 {
  height: 270px;
  background-image: url(../images/recDetailImages/recRank10.png);
}

#recBook11 {
  height: 251px;
  background-image: url(../images/recDetailImages/recRank11.png);
}

@media (max-width: 764px) {
  #recGridSpacingItem1 {
    height: 0px;
  }
  #recGridSpacingItem2 {
    width: 568px;
  }
  #recGridSpacingItem3 {
    height: 403px;
  }
  #recGridSpacingItem4 {
    height: 1px;
  }
  #recGridSpacingItem5 {
    height: 80px;
  }
  #recGridSpacingItem7 {
    height: 0px;
  }
  #recGridSpacingItem8 {
    width: 176px;
    height: 500px;
  }
  #recGridSpacingItem9 {
    width: 568px;
    height: 70px;
  }
  #recGridSpacingItem10 {
    height: 403px;
    width: 176px;
  }
  .recGridIntroImage {
    width: 176px;
    height: 482px;
  }
  #recBook1 {
    width: 176px;
    height: 313px;
    background-size: 176px 313px;
  }
  .rec4Column {
    width: 568px;
  }
}

@media (max-width: 568px) {
  .recGridIntroImage {
    width: 0px;
    height: 0px;
  }
  #recGridSpacingItem2 {
    height: 0px;
  }
  #recGridSpacingItem3 {
    height: 0px;
  }
  #recGridSpacingItem8 {
    height: 0px;
  }
  #recGridSpacingItem10 {
    height: 0px;
  }
}

.previousButton {
  background-image: url(../images/icons/slideButtonLeft.svg);
  width: 20px;
  height: 38px;
  opacity: 0.5;
  -webkit-transition: 0.1s;
}

.previousButton:hover {
  opacity: 1.0;
}

.nextButton {
  background-image: url(../images/icons/slideButtonRight.svg);
  width: 20px;
  height: 38px;
  opacity: 0.5;
  -webkit-transition: 0.1s;
}

.nextButton:hover {
  opacity: 1.0;
}

.bestsellerPreviousButton {
  background-color: red;
  width: 25px;
  height: 25px;
  float: left;
  margin-left: 250px;
  position: relative;
}

.bestsellerNextButton {
  background-color: red;
  width: 25px;
  height: 25px;
  float: right;
  margin-right: 250px;
  position: relative;
}

.bestsellerGrid1 {
  left: 0px;
}

.bestsellerGrid1Pos1 {
  left: -1156px;
}

input[type="text"]:focus {
  outline: none;
}

/* lists */
ul.input-list {
  list-style: none;
  margin: 0 -10px;
  padding: 0;
}
ul.input-list li {
  display: block;
  padding: 0 10px;
  width: 100%;
  float: left;
}

.style-4 input[type="text"] {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  -webkit-transition: border 0.3s;
  -moz-transition: border 0.3s;
  -o-transition: border 0.3s;
  transition: border 0.3s;
  width: 100%;
}
.style-4 input[type="text"]:focus, .style-4 input[type="text"].focus {
  border-bottom: solid 2px #969696;
}

.searchBar {
  float: left;
  margin-top: 37px;
  margin-left: 40px;
  width: 660px;
  opacity: 0.0;
  -webkit-transition: 0.25s;
}

.searchBarActive {
  opacity: 1.0;
}

.searchBarScrolledDown {
  margin-top: 7px;
}

@media (min-width: 568px) {
  .searchBar {
    width: 230px;
  }
}

@media (min-width: 764px) {
  .searchBar {
    width: 466px;
  }
}

@media (min-width: 960px) {
  .searchBar {
    width: 662px;
  }
}

@media (min-width: 1156px) {
  .searchBar {
    width: 858px;
  }
}

.subcategoryGrid {
  position: relative;
  margin: 0 auto 0 auto;
  /*top: 220px;*/
  -webkit-transition: 0.5s;
}


/* clearfix */
.subcategoryGrid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.subcategoryItem {
  float: left;
  text-align: center;
  border-radius: 4px;
  border-style: solid;
  padding: 7px 11px 7px 11px;
  -webkit-transition: 0.25s;
  border-width: 2px;
}

.subcategoryItemInactive {
  border-color: #d3d4d9;
}

.subcategoryItemActive {
  border-color: #f75f0b;
}

.crimeSubcategoryContainer {
  width: 100%;
  height: 100px;
  position: relative;
  margin-bottom: 40px;
}

.subcategoriesContainer {
  width: 50%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
}

.subcategoryLabel {
  font-weight: 500;
  margin: 0;
}

.subcategoryRow1 {
  margin-left: 33px;
}

.subcategoryRow2 {
  margin-left: 33px;
}

.subcategoryFirstChild {
  margin-left: 94px;
}